<% #if signed_in? %>
<% #else %>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <h1 id="description" title="show/hide description">To Do List</h1>
        <p class="lead" id="super_functions">This app can:</p>
        <div class="col-md-6 col-md-offset-3 super_functions">
          <ul>
            <li>Manual Autentification</li>
            <li>Facebook Autentification</li>
            <li>User can have Avatar</li>
            <li>Create Projects</li>
            <li>Create Tasks</li>
            <li>Tasks can have deadline</li>
            <li>Tasks can have commit as a tooltip</li>
            <li>Mark Tasks as "done"</li>
            <li>Change Task's priority by drag&amp;drop</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="projects">
      <% if @projects.any? %>
        <% @projects.each do |project| %>
          <%= render  partial: "projects/project", locals: { project: project } %>
        <% end %>
      <% else %>
      <% end %>
    </div>

    <% if signed_in? %>
      <%= link_to "Create New Project", '#', id: 'add_project', class: "btn btn-lg btn-success" %> 
      <!-- new_user_project_path(current_user) -->
      <%= render 'projects/form' %>
    <% else %>
      <%= link_to "Sign up today", '#', id: 'add_user', class: "btn btn-lg btn-success" %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", class: "btn btn-lg btn-success" %>
    <% end %>
  </div>

  <div class="row marketing">
    <center><%= render  partial: 'users/form', locals: { user: @user } %></center>
  </div>
  <center>
    <div class="fb-comments" data-href="https://quiet-earth-87573.herokuapp.com/" data-width="475" data-numposts="5"></div>
  </center>

  <footer class="footer">
    <p>&copy; 2016 Company, Inc.</p>
  </footer>
<% #end %>