<% #if signed_in? %>
  <p id="notice"><%= notice %></p>
  <div>
    <h1>Users</h1>
    <table class="table table-striped">
      <thead>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Destroy</th>
          <th>Activity</th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <% if current_user == user %>
              <td><%= link_to 'Show', user %></td>
              <td><%= link_to 'Edit', edit_user_path(user) %></td>
              <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td><%= 'logged in' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% #else %>
  <div class="jumbotron">
    <h1>To Do List</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <% if @projects.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>user_id</th>
            <th>created_at</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        </tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.name %> Project</td>
              <td><%= project.user_id %></td>
              <td><%= project.created_at %></td>
              <td><%= link_to 'Show', user_project_path(project.user, project) %></td>
              <td><%= link_to 'Edit', edit_user_project_path(project.user, project) %></td>
              <td><%= link_to 'Destroy', delete_project_path(project.user, project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td><%= link_to 'Create Task', new_project_task_path(project) %></td>
            </tr>
            <% project.tasks.each do |task| %>
              <tr>
                <td><%= task.id %> Task</td>
                <td><%= task.name %></td>
                <td><%= task.priority %></td>
                <td><%= task.deadline %></td>
                <td><%= link_to 'Show', project_task_path(project, task) %></td>
                <td><%= link_to 'Edit', edit_project_task_path(project, task) %></td>
                <td><%= link_to 'Destroy', delete_comment_path(project, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% else %>
    <% end %>
    <% if signed_in? %>
      <%= link_to "Create New Project", new_user_project_path(current_user), class: "btn btn-lg btn-success" %>
    <% else %>
      <%= link_to "Sign up today", signup_path, class: "btn btn-lg btn-success" %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", class: "btn btn-lg btn-success" %>
    <% end %>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; 2016 Company, Inc.</p>
  </footer>
<% #end %>