<% #if signed_in? %>
  <div>
    <h1>Users</h1>
    <%= javascript_pack_tag 'users' %>
    <div id='index-page' data-users='<%= @users.to_json %>'></div>
    <%= javascript_pack_tag 'hello' %>
    <div id='hello-page'></div>
    <table class="table table-striped">
      <thead>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Destroy</th>
          <th>Activity</th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <% if user.avatar_file_name %>
              <%= image_tag user.avatar.url(:thumb) %>
              <% end %>
            </td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <% if current_user == user %>
              <td><%= link_to 'Show', user %></td>
              <td><%= link_to 'Edit', edit_user_path(user) %></td>
              <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td><%= 'logged in' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% #else %>
  <div class="jumbotron">
    <h1>To Do List</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <% if @projects.any? %>
      <ul class="list-group">
        <% @projects.each do |project| %>
          <li class="list-group-item list-group-item-info">
            <div class="row">
              <div class="col-md-3 col-xs-3"><strong><%= project.name %></strong> Project</div>
              <div class="col-md-4 s_devises"><%= project.user.email %></div>
              <div class="col-md-1 col-xs-3"><%= link_to 'Show', user_project_path(project.user, project) %></div>
              <div class="col-md-1 col-xs-3"><%= link_to 'Edit', edit_user_project_path(project.user, project) %></div>
              <div class="col-md-1 col-xs-3"><%= link_to 'Destroy', delete_project_path(project.user, project), method: :delete, data: { confirm: 'Are you sure?' } %></div>
              <div class="col-md-2 s_devises"><%= link_to 'New Task', new_project_task_path(project) %></div>
            </div>
          </li>
          <li class="list-group-item">
            <ul class="list-group sortable list">
              <% project.tasks.each do |task| %>
                <li class="list-group-item item 
                  <% if current_user == task.user && current_user %>
                  <%= 'disabled' %>
                  <% end %>" data-id="<%= task.id %>" data-toggle="tooltip" data-placement="left" title="<%= task.comment %>">
                  <div class="row">
                    
                    <div class="col-md-2 s_devises"><%= task.id %> Task</div>
                    <div class="col-md-2 col-xs-3">
                      <% if task.status %>
                        <del>
                      <% end %>
                      <%= task.name %>
                      <% if task.status %>
                        </del>
                      <% end %>
                    </div>
                    <div class="col-md-4 s_devises"><%= task.deadline %></div>
                    <div class="col-md-1 col-xs-3"><%= link_to 'Show', project_task_path(project, task) %></div>
                    <div class="col-md-1 col-xs-3"><%= link_to 'Edit', edit_project_task_path(project, task) %></div>
                    <div class="col-md-1 col-xs-3"><%= link_to 'Destroy', delete_comment_path(project, task), method: :delete, data: { confirm: 'Are you sure?' } %></div>
                  </div>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    <% else %>
    <% end %>
    <% if signed_in? %>
      <%= link_to "Create New Project", new_user_project_path(current_user), class: "btn btn-lg btn-success" %>
    <% else %>
      <%= link_to "Sign up today", signup_path, class: "btn btn-lg btn-success" %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", class: "btn btn-lg btn-success" %>
    <% end %>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; 2016 Company, Inc.</p>
  </footer>
<% #end %>