<li class="edit_task list-group-item item" draggable="false" >
  <%= form_for([project, task], remote: true) do |f| %>
    <div class="row">
      <div class="field col-md-1 col-xs-4 status">
        <%= f.check_box :status, 'placeholder' => :status, size: 10 %>
      </div>

      <div class="field col-md-3 col-xs-4">
        <%= f.text_field :name, id: :task_name, required: true, 'placeholder' => :task_name, size: 10 %>
      </div>

      <div class="field col-md-2 col-xs-4">
        <%= f.number_field :priority, id: :task_priority, 'placeholder' => :task_priority, min: 0 , max: 50 %>
      </div>

      <div class="field col-md-6 col-xs-12">
        <div class='input-group date datetimepicker1'>
            <input type='text' class="form-control" id="task_deadline" name="task[deadline]" style="display: none" />
            <%= f.text_field :deadline, id: :deadline, class: 'form-control', 'placeholder' => :deadline %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="field col-md-8 col-xs-8">
        <%= f.text_field :comment, 'placeholder' => :comment, size: 50 %>
      </div>
      <div class="field col-md-2 col-xs-2">
        <%= link_to '', '#', class: 'back glyphicon glyphicon-floppy-remove', 'aria-hidden' => true, 'title' => 'back to task' %>
      </div>
      <div class="actions col-md-2 col-xs-2">
        <%= button_tag "", type: 'submit', class: "glyphicon glyphicon-floppy-saved", 'aria-hidden' => true, 'title' => 'save changes' %>
      </div>
    </div>
  <% end %>
</li>