<%= form_for([@project, @tasks]) do |f| %>
  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :task_name, required: true %>
  </div>

  <div class="field">
    <%= f.label :priority %>
    <%= f.number_field :priority, id: :task_priority %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.check_box :status %>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_field :comment %>
  </div>

  <div class="field">
    <div class='input-group date' id='datetimepicker1'>
        <input type='text' class="form-control" id="task_deadline" name="task[deadline]" style="display: none" />
        <%= f.text_field :deadline, id: :deadline, class: 'form-control' %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({format: 'DD-MM-YYYY HH:MM'});
        });
    </script>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
